{% extends "layout.html" %}
{% block content %}
	<h3>
		This is a micro service API server that accepts JSON data as input to POST requests.
	</h3>
	<h3> It </h3>
	<h3>
		-- Authenticates Users
	</h3>
	<h3>
		-- exposes 2 APIs - Inbound sms, Outbound sms
	</h3>
	<h3>
		-- stores from, to parameters in cache for 4 hours
	</h3>
	<h3>
		-- if blocked using STOP request, it prevents users from sending messages.
	</h3>
	<h2>
		use the credentials from the given sql dumpl file to login
	</h2>
{% endblock %}